DATABASE_URL="postgres://username:password@hostname:port/medium_clone"
AUTH_SECRET="Generate this by running `npx auth secret` "


#put this correctly,otherwise user is not authenticated

AUTH_GITHUB_ID="github app id"
AUTH_GITHUB_SECRET="github app secret"

AUTH_GOOGLE_ID="google app id"
AUTH_GOOGLE_SECRET="google app secret"

#Push notification Keys generate with `npx web-push generate-vapid-keys`
Public Key=
Private Key=